:root{
    --mainBgColor:#1C5550;
    --buttonBoxShadowColor: #00000033;
    --borderRadius: 4px;
    --fontSize14: 14px; 
    --fontSize16: 16px; 
    --fontSize24: 24px; 
    --colorDFD9D9: #DFD9D9;
}